extend includes/layout/layout.pug
block content
  include includes/home/banner.pug
  include includes/home/portfolio.pug
  include includes/home/about.pug
  include includes/home/contact.pug
  include includes/home/modal.pug