footer.footer
    .footer__info
        .container
            .row.flex__container
                .footer__info-item.col-lg-4.col-md-12
                    h4.footer__info-item--title.footer--heading location
                    p.footer__info-item--text 2215 John Daniel Drive<br />Clark, MO 65243
                .footer__info-item.col-lg-4.col-md-12
                    h4.footer__info-item--title.footer--heading around the web
                    ul.footer__info-item--icons
                        li.icon.footer--icon
                            i.fab.fa-facebook-f
                        li.icon.footer--icon
                            i.fab.fa-twitter
                        li.icon.footer--icon
                            i.fab.fa-linkedin-in
                        li.icon.footer--icon
                            i.fab.fa-dribbble
                .footer__info-item.col-lg-4.col-md-12
                    h4.footer__info-item--title.footer--heading about freelancer
                    p.footer__info-item--text Freelance is a free to use, MIT<br />licensed Bootstrap theme created by <a href="">Start Bootstrap</a> .
    .footer__copyright
        p.footer__copyright--text Copyright © Your Website 2020
a.btn.btn--toTop(href="#start")
    i.fas.fa-angle-up
                
                






