header.header 
  .container.header__container
    a.header__logo(href="#start") start bootstrap
    a.btn.btn--menu(href="#")
      span menu
      i.fas.fa-bars
    ul.header__menu
      li.header__menu-item
        a.header__menu-item--link(href="#") portfolio
      li.header__menu-item
        a.header__menu-item--link(href="#") about
      li.header__menu-item
        a.header__menu-item--link(href="#") contact
      
      




    