section.about
    .container
        h3.about__title.section--title about
        .about__decoration.decoration
            .decoration__line
            i.fas.fa-star
            .decoration__line
        .row.about__description
            .col-lg-4.col-md-12.about__description--textBox
                p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            .col-lg-4.col-md-12.about__description--textBox
                p You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
        a.btn.btn--download
            i.fas.fa-download
            span Free Download!

