section.banner#start
    .container.banner__container
        .banner__profile
            img(src="assets/images/avatar.svg")
        h2.banner__title start bootstrap
        .banner__decoration.decoration
            .decoration__line
            i.fas.fa-star
            .decoration__line
        p.banner__description Graphic Artist - Web Designer - Illustrator
