section.contact
    .container
        h3.contact__title.section--title contact me
        .contact__decoration.decoration
            .decoration__line
            i.fas.fa-star
            .decoration__line
        .row.contact__input
            .col-lg-8.contact__inputBox.input--form
                label Name
                input(type="text",placeholder="Name")
            .col-lg-8.contact__inputBox.input--form
                label Email Address
                input(type="text",placeholder="Email Address")
            .col-lg-8.contact__inputBox.input--form
                label Phone Number
                input(type="text",placeholder="Phone Number")
            .col-lg-8.contact__inputBox.input--form
                label Message
                textarea(type="text",placeholder="Message",rows="6")
            .col-lg-8.contact__inputBox
                a.btn.btn--submit send
