.modal
    .modal__content
        a.btn.btn--closeModalX.btn--close
            i.fas.fa-times
        h3.modal__title.section--title log cabin
        .modal__decoration.decoration
            .decoration__line
            i.fas.fa-star
            .decoration__line
        .container
            .row
                .col-lg-8.col-md-8.col-sm-12.modal-box
                    img(src="assets/images/cabin.png")
                .col-lg-8.col-md-8.col-sm-12.modal-box
                    p.modal__info--text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
        a.btn.btn--closeModal.btn--close
            i.fas.fa-times
            span close window