section.portfolio
    .container
        h3.portfolio__title.section--title portfolio
        .portfolio__decoration.decoration
            .decoration__line
            i.fas.fa-star
            .decoration__line
        .row.portfolio__projects
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/cabin.png")
                a.btn.btn--openModal
                    i.fas.fa-plus
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/cake.png")
                a.btn.btn--openModal
                    i.fas.fa-plus
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/circus.png")
                a.btn.btn--openModal
                    i.fas.fa-plus
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/game.png")
                a.btn.btn--openModal
                    i.fas.fa-plus
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/safe.png")
                a.btn.btn--openModal
                    i.fas.fa-plus
            .col-lg-4.col-md-6.col-sm-10.project-box
                img(src="assets/images/submarine.png")
                a.btn.btn--openModal
                    i.fas.fa-plus