$mainColor: #1abc9c;
$mainColorHover: darken(#1abc9c, 10%);
$subColor: #2c3e50;
$bottomColor: #1a252f;
$whiteColor: #fff;
$whiteColor--light: #eceef1;
$blackColor: #000;
$inputColor: #495057;
$mainFont: "Lato", sans-serif;
$subFont: "Montserrat", sans-serif;
$modalTextColor: #212529;
